<div class="block_social">
	<div class="{{likesClass.live}}" title="Лайк" onclick="yaCounter39356156.reachGoal('like'); return true;">
		<div class="likes_icon">
			<span class="glyphicon glyphicon-heart"></span>
		</div>
		<div class="likes_count">{{likesCount}}</div>
	</div>
	<!--a href="#" class="social_likes"></a-->

	<script type="text/javascript">(function() {
	if (window.pluso)if (typeof window.pluso.start == "function") return;
	if (window.ifpluso==undefined) { window.ifpluso = 1;
		var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
		s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
		s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
		var h=d[g]('body')[0];
		h.appendChild(s);
	}})();
	</script>
	<div class="pluso" 
		 data-background="none;"
		 data-options="big,round,line,horizontal,nocounter,theme=04"
		 data-services="vkontakte,odnoklassniki,facebook,pinterest"
	></div>
</div>