<p>Была сделана новая заявка на регистрацию  в РемонтLive.</p>
<p>Данные партнера:<br />
Имя: {{user.username}}<br />
E-mail: {{user.email}}<br />
Фактический адрес: {{user.location}}<br />
Cообщение: {{user.message}}
</p>
