<p>Ваша заявка на регистрацию в "Кабинете Оптовика" успешно одобрена.</p>
<p>Вы можете авторизоваться на сайте по следующим реквизитам:<br/>
E-mail: {{user.email}}<br />
Пароль: {{pass}}
</p>
<a href="http://cabinet.rimeks-wheels.ru/">Кабинет оптовика</a>
