{% extends "FOSUserBundle::layout.html.twig" %}

{% block h1 %}Сброс пароля{% endblock %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
